body {
  font-family: "Quicksand", sans-serif;
  position: relative;
}
.box {
  border-radius: 5px;
  position: relative;
  max-width: 600px;
  margin: 30px auto;
  border-width: 5px;
  border-radius: 5px;
  border-style: solid;
  border-color: #82c4c3;
}

.queryBar {
  display: block;
  margin-left: 25px;
  padding: 10px;
}
#searchButton {
  background-color: #82c4c3;
}

#currentButton {
  background-color: #82c4c3;
}

.button {
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

i {
  color: #f9748f;
  font-size: 18px;
}

#mainCity {
  display: block;
  position: relative;
  max-width: 300px;
  right: 0;
  top: 0;
  text-align: left;
  padding: 10px;
  height: 50%;
  position: relative;
  margin-bottom: 0;
}

h1 {
  max-width: 100px;
  font-size: 30px;
}

#mainIcon {
  font-size: 80px;
  display: inline;
  color: #f9748f;
}
#dayTemperature {
  font-size: 35px;
  text-align: center;
  color: #f9748f;
}

#units .active {
  color: #f9748f;
}

#units {
  font-size: 20px;
}

a {
  color: black;
}

#todayType {
  text-transform: capitalize;
}

.mainBox {
  display: block;
  text-align: center;
  padding: 10px;
  position: relative;
}

ul {
  list-style-type: none;
  text-align: center;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

#humidity {
  color: #f9748f;
}

#wind {
  color: #f9748f;
}

#detailUnits {
  color: #f9748f;
}

#week {
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

#weekDay {
  color: #f9748f;
  position: relative;
}

strong {
  color: #f9748f;
}

h6 {
  max-width: 600px;
  margin: 30px auto;
}

#footer {
  color: #f9748f;
}

.boxNight {
  background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
}
