body {
  font-family: "Quicksand", sans-serif;
  position: relative;
}
.box {
  padding-top: 20px;
  border-radius: 5px;
  position: relative;
  max-width: 600px;
  margin: 30px auto;
  border-width: 5px;
  border-radius: 5px;
  border-style: solid;
  border-color: #82c4c3;
}

.queryBar {
  display: block;
  margin-left: 25px;
}

#mainCity {
  display: block;
  position: relative;
  right: 0;
  top: 0;
  text-align: left;
  padding: 10px;
  height: 75%;
  position: relative;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  text-align: left;
  font-size: 20px;
  position: relative;
  margin: 0;
  padding: 0;
}
form {
  padding: 10px;
}

.mainBox {
  display: block;
  text-align: center;
  padding: 10px;
  position: relative;
}
.mainIcon {
  font-size: 80px;
  display: inline;
  color: #f9748f;
}
.dayTemperature {
  font-size: 60px;
  text-align: center;
}
#weekDay {
  font-size: 40px;
  color: #f9748f;
  position: relative;
}

#week {
  display: block;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}
#searchButton {
  background-color: #82c4c3;
}

#currentButton {
  background-color: #f9d89c;
}

h6 {
  max-width: 600px;
  margin: 30px auto;
}

#todayType {
  text-transform: capitalize;
}
